<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <title>凯瑞期货回测可视化</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src={{url_for('static', filename='jquery-1.8.3.min.js')}}></script>-->
    <script type="text/javascript" src={{url_for('static', filename='echarts.min.js')}}></script>
    <style>
        body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
.container {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

    </style>
</head>
<body>
<div class="container">
<input type="text" id="message" value="200"/>
<button type="button" id="connect_websocket">连接</button>
<button type="button" id="send_message">开始画图</button>
<button type="button" id="close_ht">暂停画图</button>
<button type="button" id="close_websocket">关闭接收数据</button>
<div id="messagecontainer"></div>
</div>

<div class="container">
    <div class="row clearfix">
        <div  class="col-md-8 column">
<div class="jumbotron" id="main" style="width: auto;height: 800px;" align="center"></div>
        </div>
    </div>

<div class="col-md-4 column">
    <table class="table" id="trade">
	<caption>交易信息</caption>
   <thead>
      <tr>
         <th>时间</th>
         <th>代码</th>
          <th>买卖</th>
          <th>价格</th>
          <th>开平</th>
      </tr>
   </thead>
   <tbody>
   </tbody>
</table>
        <table class="table" id="account">
	<caption>账户信息</caption>
   <thead>
      <tr>
          <th>时间</th>
          <th>总市值</th>
          <th>保证金</th>
          <th>当日总盈亏</th>
          <th>当日持仓盈亏</th>
          <th>当日平仓盈亏</th>
      </tr>
   </thead>
   <tbody>
   </tbody>
</table>
</div>

<script type="text/javascript">
var myChart = echarts.init(document.getElementById('main'));
var bs = new Array();
var xzs = new Array();

option = {
    title : {
        text: '回测',
        subtext: 'K线'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['KLine', 'MA5',  'MA10', 'MA30', 'MA60']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom : {
        show : true,
        realtime: true,
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : true,
            data : [

            ]
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale:true,
            splitNumber: 5,
            boundaryGap: [0.05, 0.05]
        }
    ],
    series : [
        {
            name:'KLine',
            type:'k',
            dimensions: ['date', 'open', 'close', 'highest', 'lowest'],
            encode: {
                x: 'date',
                y: ['open', 'close', 'highest', 'lowest']
                },
            data:[ // 开盘，收盘，最低，最高
            ],
            zlevel: 0,
            markPoint: {
                label: {
                    normal: {
                        formatter: function (param) {
                            return param != null ? Math.round(param.value) : '';
                        },
                    position: 'right',
                    fontSize: 8
                    }
                },
                data: [
                    {
                        name: 'highest value',
                        type: 'max',
                        valueDim: 'highest'
                    },
                    {
                        name: 'lowest value',
                        type: 'min',
                        valueDim: 'lowest'
                    }
                ],
                tooltip: {
                    formatter: function (param) {
                        return param.name + '<br>' + (param.data.coord || '');
                    }
                }
            }
        },
        {
            name: 'MA5',
            type: 'line',
            data: [],
            smooth: true,
            zlevel: 1,
            lineStyle: {
                normal: {opacity: 0.5}
                }
        },
                {
            name: 'MA10',
            type: 'line',
            data: [],
            smooth: true,
            zlevel: 1,
            lineStyle: {
                normal: {opacity: 0.5}
                }
        },
                {
            name: 'MA30',
            type: 'line',
            data: [],
            smooth: true,
            zlevel: 1,
            lineStyle: {
                normal: {opacity: 0.5}
                }
        },
                {
            name: 'MA60',
            type: 'line',
            data: [],
            smooth: true,
            zlevel: 1,
            lineStyle: {
                normal: {opacity: 0.5}
                }
        },
    ]
}

myChart.showLoading();

stringToDate = function(dateStr,separator){
     if(!separator){
            separator="-";
     }
     var dateArr = dateStr.split(separator);
     var year = parseInt(dateArr[0]);
     var month;
     //处理月份为04这样的情况
     if(dateArr[1].indexOf("0") == 0){
         month = parseInt(dateArr[1].substring(1));
     }else{
          month = parseInt(dateArr[1]);
     }
     var day = parseInt(dateArr[2]);
     var date = new Date(year,month -1,day);
     return date;
 }

var categoryData = new Array();
var bar = new Array();
var trade = new Array();
var is_huatu = true;
var size = $('#message').val()-0;

//myChart.setOption(option);

function addBar(data){
        categoryData.push(data[0]);
        bar.push(data.slice(1));
        option.xAxis[0].data=categoryData;
        option.series[0].data=bar;
        option.dataZoom.startValue=categoryData[categoryData.length-size];
        option.dataZoom.endValue=categoryData[categoryData.length-1];

        if(is_huatu){
            myChart.setOption(option);
        }
}


function addTrade(trade_data){
        data = [trade_data.trading_dt, trade_data.price, trade_data.side];
        var t_row = document.createElement("tr");
        var t_time = document.createElement("td");
        var t_code = document.createElement("td");
        var t_side = document.createElement("td");
        var t_price = document.createElement("td");
        var t_effect = document.createElement("td");
        t_time.innerHTML = trade_data.trading_dt;
        t_code.innerHTML = trade_data.order_book_id;
        t_side.innerHTML = trade_data.side;
        (trade_data.side == "BUY")?(t_side.style.color="red"):(t_side.style.color="green");
        t_price.innerHTML = trade_data.price;
        t_effect.innerHTML = trade_data.position_effect;
        t_row.appendChild(t_time);
        t_row.appendChild(t_code);
        t_row.appendChild(t_side);
        t_row.appendChild(t_price);
        t_row.appendChild(t_effect);
        $("#trade").children("tbody").prepend(t_row);

        var trade_point = {
                        name: 'trade',
                        symbol: 'triangle',
                        symbolSize: 10,
                        coord: [data[0], data[1]],
                        value: data[1],
                        itemStyle: {
                            normal: {color: 'rgb(41,60,85)'}
                        }
                        };

        if(data[2]=='SELL'){
            trade_point.itemStyle.normal.color = 'rgb(0,255,0)';
            trade_point.symbolRotate = -180;
        }else{
            trade_point.itemStyle.normal.color = 'rgb(255,0,0)';
            trade_point.symbolRotate = 0;
        }

        option.series[0].markPoint.data.push(trade_point);

        if(is_huatu){
            myChart.setOption(option);
        }
}

function addExtra(data){
    for (topic in data[1]){
        if (topic=='MA5'){
            option.series[1].data.push(data[1][topic]);
        }else if (topic=='MA10'){
            option.series[2].data.push(data[1][topic]);
        }else if (topic=='MA30'){
            option.series[3].data.push(data[1][topic]);
        }else if (topic=='MA60'){
            option.series[4].data.push(data[1][topic]);
        }else if (topic=='account'){
            updateAccount(data[0], data[1][topic])
        }

    }
}

function updateAccount(t, data){
        var account_row = document.createElement("tr");
        var _time = document.createElement("td");
        _time.innerHTML = t;
        account_row.appendChild(_time);

        for (var i=0; i<data.length; i++) {
            var info = document.createElement("td");
            info.innerHTML = data[i];
            if(i>=2){
            (data[i] > 0)?(info.style.color="red"):(info.style.color="green");}
            account_row.appendChild(info);
        }

        $("#account").children("tbody").html(account_row);
}

myChart.hideLoading();
$(function () {
        function manages(info){
            if (window.s) {
                window.s.close();
            }
            /*创建socket连接*/
            var url = "ws://{{host}}:7214/"; //"ws://localhost:8000"; //
            var socket = new WebSocket(url); //window.location.host  192.168.2.237:7214
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
                if(info) alert('WebSocket open');
            };
            var x=null,y=null;
            socket.onmessage = function (e) {
                <!--console.log('message: ' + e.data);//打印出服务端返回过来的数据-->
                var d= $.parseJSON(e.data);
                if(d.topic=='bar'){
                    bar_data = [d.datetime, d.open, d.close, d.high, d.low];
                    addBar(bar_data);
                }else if(d.topic=='trade'){
                    addTrade(d);
                }else if(d.topic=='extra'){
                    data = [d.datetime, d.topic_vals];
                    addExtra(data);
                }
            };
            // Call onopen directly if socket is already open
            if (socket.readyState == WebSocket.OPEN) socket.onopen();
            window.s = socket;
        }
        manages(false);
        $('#connect_websocket').click(function () {
            manages(true);
        });
        $('#send_message').click(function () {
            //如果未连接到websocket
            is_huatu = true;
            if (!window.s) {
                alert("websocket未连接.");
            } else {
                window.s.send($('#message').val());//通过websocket发送数据
            }
        });
        $('#close_websocket').click(function () {
            if (window.s) {
                window.s.close();//关闭websocket
                console.log('websocket已关闭');
            }
        });
        $('#close_ht').click(function () {
            is_huatu = false;
            size = $('#message').val()-0;
        });
    });
</script>
</body>
</html>